html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  height: 100%;
}

.main-header {
  height: 300px;
  display: table;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
}

.img{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

/* ここから */
header {
 background-color: #2B2B2B;
 height: 50px;
}

header ul {
 margin: 0;
 padding: 0;
}

header ul a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 10px;
}

header li {
 list-style: none;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clearfix:after {
 content: "";
 display: block;
 clear: both;
}

/* ここまでがheader部分の実装 */

.main-header img {
  width: 13%;
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
}


.about h1{
  font-size: 1.5rem;
/* About Achieve部分の実装 */
}

.about p{
  font-size: 0.8rem;
}

/* ここから */
.function {
  background-color: #D3D3D3;
}

.function h1{
  padding-top: 3%;
}

.function-images  {
  padding: 3% 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}


/* ここまでがfunction部分の実装 */

.footer {
  background-color: #283A4B;
  width: 100%;
  bottom:0;
  position: absolute;
  height: 60px;
  display: table;

/* footer部分の実装 */
}

.footer p{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size:0.8rem;
  color: #fff;
}
